{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/ultra-shibuya.myshopify.com/products/configure/183397/edit
{% endcomment %}
{% if product.metafields.custom_fields["tracklist"] != blank %}
  <div class="custom-field custom-field__tracklist custom-field__type--text">
    <h3 class="custom-field--title">Tracklist</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["tracklist"] }}
    </div>
  </div>
{% endif %}