{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/ultra-shibuya.myshopify.com/products/configure/178542/edit
{% endcomment %}
{% if product.metafields.custom_fields["artist_kana"] != blank %}
  <div class="custom-field custom-field__artist-kana custom-field__type--text">
    <h3 class="custom-field--title">Artist_Kana</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["artist_kana"] }}
    </div>
  </div>
{% endif %}