{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.catalog_no' %}
  {% include 'custom_fields.products.artist' %}
  {% include 'custom_fields.products.artist_kana' %}
  {% include 'custom_fields.products.genre' %}
  {% include 'custom_fields.products.release_date' %}
  {% include 'custom_fields.products.country' %}
  {% include 'custom_fields.products.condition' %}
  {% include 'custom_fields.products.format' %}
  {% include 'custom_fields.products.disc_count' %}
  {% include 'custom_fields.products.appendices' %}
  {% include 'custom_fields.products.specification' %}
  {% include 'custom_fields.products.bonus' %}
  {% include 'custom_fields.products.era' %}
  {% include 'custom_fields.products.jmd_url' %}
  {% include 'custom_fields.products.tracklist' %}
  {% include 'custom_fields.products.embed' %}
  {% include 'custom_fields.products.comment_title' %}
  {% include 'custom_fields.products.preorder' %}
</div>