  {% comment %} <img class="btn--main" src="{{ 'btn_icon_like.png' | asset_url }}" alt="add to wishlist"> {% endcomment %}
<div class="active_favorite">
  <a class="action--wishlist tile-actions--btn flex wishlist-btn" href="#" data-product-handle="{{ product.handle }}">
    <span>お気に入りに登録</span>
  </a>
</div>