<div class="upper">
   {% render 'breadcrumbs' %}
</div>
<section class="section terms_service" id="terms_service">
  <div class="upper">
      <div class="container_about">
          <h2>特定商取引法に基づく表示</h2>
          <table>
              <tr>
                  <th>店舗名</th><td>ULTRA SHIBUYAオンラインストア</td>
              </tr>
              <tr>
                  <th>販売業者</th><td>株式会社ウルトラ・ヴァイヴ</td>
              </tr>
              <tr>
                  <th>代表責任者</th><td>高　護</td>
              </tr>
              <tr>
                  <th>所在地</th><td>東京都渋谷区東1-28-9</td>
              </tr>
              <tr>
                  <th>問合せ先</th><td>TEL：03-5485-2301（受付時間　平日10:00～19:00）<br>
                      ※メールでのお問い合わせは、お問い合わせフォームよりお問合せください。</td>
              </tr>
              <tr>
                  <th>販売URL</th><td>http://www.ultra-vybe.co.jp/#</td>
              </tr>
              <tr>
                  <th>お支払方法</th><td>・クレジットカード（VISA、Mastercard、AmericanExpress）<br>
                      ・PayPal <br>
                      ・Amazon Pay <br>
                      ・代金引換 <br>
                      ・銀行振込（先払い）</td>
              </tr>
              <tr>
                  <th>販売価格</th><td>商品ページの各商品に記載の価格をご参照ください。<br>
                      ※実店舗と異なる場合がございます。予めご了承ください。</td>
              </tr>
              <tr>
                  <th>商品代金以外の<br>必要料金価格</th><td>消費税、送料（商品紹介ページをご参照願います）、支払い・発送に関する手数料</td>
              </tr>
              <tr>
                  <th>発送時期</th><td>通常、在庫が確保できた商品から順に発送させていただきます。<br>
                      同一のご注文内に在庫商品とお取り寄せ商品（もしくはご予約商品）が混在している場合は「商品欠品に伴うご注文のお知らせ」のメールを送信させていただきます。<br>必ず、弊社から送信させていただきますメールをご確認ください。<br>※順次配送の場合、配送毎に送料がかかります。<br>ただし、送料無料キャンペーン対象の場合は除きます。</td>
              </tr>
              <tr>
                  <th>発送方法</th><td>弊社にて手配後、弊社指定の運送会社による配送</td>
              </tr>
              <tr>
                  <th>不良品交換対象</th><td>破損・汚損していた場合、またはご注文と異なった商品が届いた場合のみ</td>
              </tr>
              <tr>
                  <th>不良品交換期限</th><td>商品到着日から7日以内にお電話またはお問い合わせフォームから不良状態をご連絡いただいた場合のみ有効です。<br>弊社で不良と判断した場合は、不良商品とお客様のお名前・ご住所・お電話番号を記入した用紙を同封し、弊社までお送りください。<br> 不良商品を受け取り次第、良品商品と交換させていただきます。<br> 返品は、在庫切れのため良品商品との交換ができない場合のみ対応致します。</td>
              </tr>
              <tr>
                  <th>不良品交換費用</th><td>返品・交換にかかる費用は、すべて弊社が負担いたします。</td>
              </tr>
          </table>
      </div>
  </div>
</section>
<style>
    #main_content {
        background-color: #F4F4F4;
    }
    body {
        background-color: #F4F4F4;
    }
    @media (max-width: 768px) {
      #main_content,
      .main > .inner {
        background-color: #ffffff;
      }
    }
    /*.container_top_txt h2 {*/
      /*text-align: center;*/
    /*}*/
    .container_main_content > h3 {
      background-color: #f4f4f4;
      /*font-size: 21px;*/
      /*line-height: 31px;*/
      /*text-align: left;*/
      /*color: #000000;*/
      /*font-weight: 700;*/
      /*margin-bottom: 16px;*/
      padding: 5px 0;
    }
    .container_main_content > p > a {
      text-decoration: underline !important;
      color: #0066ff !important;
    }
    /*.container_main_content p {*/
      /*display: inline-block;*/
      /*font-size: 18px;*/
      /*letter-spacing: 1.44px;*/
      /*line-height: 40px;*/
      /*color: #121212;*/
      /*text-align: left;*/
      /*margin-bottom: 56px;*/
        /*padding-left: 0;*/
    /*}*/
    .container_main_content > p.txt-padding {
      padding-left: 20px;
    }
    .container_main_content p > span {
      padding-left : 10px;
      display: block;
    }
    @media only screen and (min-width: 1248px) and (max-width: 1919px) {
        .container_main_content p > span {
            padding-left: 0.521104742vw;
        }
      /*.container_main_content p {*/
        /*margin-bottom: 0.918186555vw;*/
        /*line-height: 2.084418968vw;*/
        /*font-size: 0.9379885357vw;*/
          /*padding-left: 0;*/
      /*}*/
      .container_main_content h3 {
        font-size: 1.094319958vw;
        line-height: 1.6154247vw;
        margin-bottom: 0.8337675873vw;
      }
        .container_main_content > h3 {
            padding: 0.260552371vw 0;
        }
    }
    @media only screen and (max-width: 1247px) and (min-width: 769px) {
        .container_main_content p > span {
            padding-left: 6px;
        }
        .container_main_content > h3 {
            padding: 3px 0;
        }
      /*.container_main_content p {*/
          /*padding-left: 0;*/
          /*margin-bottom: 36px;*/
          /*line-height: 26px;*/
          /*font-size: 11px;*/
      /*}*/
      .container_main_content h3 {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    }
</style>