<ul>
    {%- for block in section.blocks -%}
        <li>
            {%- assign ImageLink = block.settings.link -%}
            {%- assign ImageUrl = block.settings.image -%}
            <a href="{{ImageLink}}">
                {% if ImageUrl != blank %}
                    <img src="{{ImageUrl | img_url: 'master'}}" alt="">
                {% else %}
                    <img src="{{'banner_feature.png' | asset_url}}" alt="">
                {% endif %}
            </a>
        </li>
    {%- endfor -%}
</ul>
{% schema %}
    {
    "name": "Featured-store-02",
    "class": "index-section index-section--flush",
    "max_blocks": 10,
    "settings": [
    {
    "type": "header",
    "content": "Grid settings"
    }
    ],
    "blocks": [
    {
    "type": "image",
    "name": "Image",
    "settings": [
    {
    "type": "text",
    "id": "area",
    "label": "Grid area",
    "info": "If you need larger items, enter CSS area value, [refer here](https:\/\/www.w3schools.com\/cssref\/pr_grid-area.asp)"
    },
    {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
    },
    {
    "type": "url",
    "id": "link",
    "label": "Link"
    }
    ]
    }
    ]
    }
{% endschema %}