<div class="upper">
  {% render 'breadcrumbs' %}
</div>
<h3 class="m_title util_sp">ご利用ガイド</h3>
<section class="section instruction_manual util_pc">
  <div class="upper">
    <div class="container_manual">
      <div class="tabs_list_guide">
        <div class="inner_tabs_list">
          <h2>ご利用ガイド</h2>
          <ul class="tab_nav_guide">
            <li>
              <a href="#tab_1">ご案内</a>
            </li>
            <li>
              <a href="#tab_2">ご注文方法</a>
            </li>
            <li>
              <a href="#tab_3">ご質問、お問い合わせ等</a>
            </li>
            <li>
              <a href="#tab_4">商品のお届けについて</a>
            </li>
            <li>
              <a href="#tab_5">送料について</a>
            </li>
            <li>
              <a href="#tab_6">お支払方法</a>
            </li>
            <li>
              <a href="#tab_7">商品の保証と返品・交換について</a>
            </li>
            <li>
              <a href="#tab_8">ご注文のキャンセルについて</a>
            </li>
            <li>
              <a href="#tab_9">ご登録情報の変更について</a>
            </li>
            <li>
              <a href="#tab_10">ラッピングについて</a>
            </li>
          </ul>
        </div>
        <div class="tab_content">
          <div class="tab_item_guide" id="tab_1">
            <div class="inner">
              <div class="content_guide">
                <h2>ご案内</h2>
                <p>ULTRA SHIBUYA onlineにご来店いただき、誠にありがとうございます。</p>
                <p>東京渋谷にて34年間にわたり良質な音楽を生み出し続けている独立系レコード会社「ウルトラ・ヴァイヴ」が、一般のお客様へ向けたサービス「ULTRA SHIBUYA」を開始しました。</p>
                <p>このECサイトは、ULTRA SHIBUYAが運営する「ULTRA SHIBUYA online」です。「ULTRA SHIBUYA online」は、ウルトラ・ヴァイヴがお届けする音楽を一般のお客様にお楽しみいただく為の通信販売サイトです。</p>
                <p>ウルトラ・ヴァイヴは独立系レコード会社として、年間で2000タイトルを優に超えるリリースタイトルがあります。中には、近年世界的にも注目を集める自社レーベル「SOLID RECORDS」や、海外名門レーベルの復刻音源、国内外の最先端のインディーズミュージック等のリリースを手掛けてきました。「ULTRA SHIBUYA online」を通して、私たちが光を当て世に送り出してきたミュージックカルチャーを、より一層身近に感じていただければと思います。</p>
                <p>※「ULTRA SHIBUYA online」は、これまでウルトラ・ヴァイヴが全国各地のレコードショップに卸してきた経験を基に運営しています。
                  その為、商品は「弊社専門の出荷基地」から出荷を行うので、発送完了までに少々お時間がかかります。最短で○営業日後の発送です。（土日と年末年始は休業/○時までのオーダーが当日受付となります。）また、在庫の状況によっては「お取り寄せ商品」となってしまい、さらに何日かお待たせしてしまうことがあります。ご了承ください。</p>
                <p>「レコード会社」としてのノウハウを活かし、常に最先端のミュージックカルチャーが集まる場所として、また、まるで「問屋業者の倉庫（普段は一般のお客さまは入ることのできない）」を開放したかのようなラインナップの豊富さを、是非ともお楽しみください。</p>
              </div>
            </div>
          </div>
          <div class="tab_item_guide" id="tab_2">
            <div class="inner">
              <div class="content_guide">
                <h2>ご注文方法</h2>
                <p>
                  <span class="tlt_terms">ご購入までの流れ</span>
                  <span>0.　マイページにて、ログインまたは新規会員登録をしてください。（会員登録は無料です。）</span>
                  <span>1. 　商品ページにて、商品を選んでください。</span>
                  <span>2. 「カートに入れる」ボタンを押して、商品を「カート」に入れてください。</span>
                  <span>3. 「カート」の中身を確認してください。</span>
                  <span>4. 「レジへ進む」ボタンを押して、チェックアウト画面にて、必要事項をご確認ください。</span>
                  <span>5. 「配送方法の選択へ進む」ボタンを押して、配送先情報をご確認ください。</span>
                  <span>6. 「お支払いへ進む」ボタンを押して、お支払方法を選択し、情報をご確認ください。</span>
                  <span>7. 「ご注文完了」ボタンを押してください。</span>
                  <span>8.　受付番号が画面に表示され、ご注文受付メールが登録していただいたアドレスに送信されます。</span>
                  <span>※この段階では、お客様からのご注文並びに出荷はまだ最終確定しておりません。</span>
                  <span>ご注文の商品の確保が確定致しましたら、商品発送メールを送信させていただきます。</span>
                  <span>※同一のご注文内に在庫商品とお取り寄せ商品（もしくはご予約商品）が混在している場合は「商品欠品に伴うご注文のお知らせ」のメールを送信させていただきます。</span>
                  <span>必ず、弊社から送信させていただきますメールをご確認ください。</span>
                  <span>※通常、在庫が確保できた商品から順に発送させていただきます。</span>
                  <span>※商品を一括配送でご希望のお客様は、その旨を備考欄にご記入ください。</span>
                </p>
              </div>
            </div>
          </div>
          <div class="tab_item_guide" id="tab_3">
            <div class="inner">
              <div class="content_guide">
                <h2>ご質問、お問い合わせ等</h2>
                <p>
                  <span class="tlt_terms">ご質問、お問い合わせ等</span>
                  <span>お問い合わせページにて、内容を記入後、「プライバシーポリシーに同意する」をチェックしていただき、</span>
                  <span>「内容を確認」ボタンを押してお問い合わせ内容を確認後、「送信する」ボタンを押してください。</span>
                  <span>お問い合わせ内容を確認し、担当よりご連絡させていただきます。</span>
                  <span>※お問い合わせには、出来るかぎり早急にご返信させていただいておりますが、内容によりお時間を頂戴する場合がございますので、ご了承をお願いいたします。</span>
                </p>
              </div>
            </div>
          </div>
          <div class="tab_item_guide" id="tab_4">
            <div class="inner">
              <div class="content_guide">
                <h2>商品のお届けについて</h2>
                <p>
                  <span class="tlt_terms">発送について</span>
                  <span>ご注文商品の発送が完了しましたら、メールにてお知らせいたします。</span>
                </p>
                <p>
                  <span>ご注意：</span>
                  <span>・ 土・日等 当ストアの休業日に頂いたご注文は、原則として翌営業日の発送となります。</span>
                  <span>・決済方法に銀行振込を選ばれた場合は、ご入金確認後の発送となります。</span>
                  <span>・配達日・配達時間指定は通常受付けておりません。</span>
                </p>
                <p>
                  <span class="tlt_terms">ご注文について</span>
                  <span>諸事情により納期が遅れたり、商品をご提供できない場合がございます。その場合、速やかにご連絡させていただきます。</span>
                  <span>当ストアにてご注文を受付後、ご注文内容のご案内をメールにてご連絡差し上げます。</span>
                </p>
                <p>
                  <span class="tlt_terms">お電話でのご連絡について</span>
                  <span>ご注文内容の確認等により急を要する場合など、お電話にてご連絡させていただくことがございます。</span>
                  <span>ご家族へのギフトなどで、電話による連絡を希望されない場合には、その旨を備考欄にご記入いただくか、ご連絡が可能なお電話番号をご記入ください。</span>
                </p>
              </div>
            </div>
          </div>
          <div class="tab_item_guide" id="tab_5">
            <div class="inner">
              <div class="content_guide" id="shipping_cost">
                <h2>送料について</h2>
                <p>
                  <span>送料は全国一律200円（税込）です。</span>
                  <span>ただし、LPをご購入の場合は料金が異なります。詳しくは送料料金表にてご確認ください。<br>※沖縄・離島への配送は別途ご負担頂きます。予めご了承下さいますよう、お願い申し上げます。</span>
                </p>
                <p><img src="{{'img_shipping.png' | asset_url}}" alt=""></p>
                <p>
                  <span>現在、5,000円（税込）以上のお買い上げで、宅配送料200円（税込）が無料になるキャンペーンを実施中です。</span>
                  <span>※代金引換でお支払いの場合は、代引手数料はキャンペーン対象外となります。</span>
                </p>
                <p>
                  <span class="tlt_terms">発送方法について</span>
                  <span>通常、在庫が確保できた商品から順に発送させていただきます。</span>
                  <span>同一のご注文内に在庫商品とお取り寄せ商品（もしくはご予約商品）が混在している場合は<br>「商品欠品に伴うご注文のお知らせ」のメールを送信させていただきます。</span>
                  <span>必ず、弊社から送信させていただきますメールをご確認ください。</span>
                  <span>※商品を一括配送でご希望のお客様は、その旨を備考欄にご記入ください。</span>
                  <span>※順次配送の場合、配送毎に送料・別途手数料がかかります。ただし、送料無料キャンペーン対象の場合は除きます。</span>
                  <span>※長期不在等で再送させていただく場合は、送料等実費を請求させていただきます。 </span>
                </p>
                <p>送料についてのご質問は、お問い合わせフォームより、ご連絡ください。</p>
              </div>
            </div>
          </div>
          <div class="tab_item_guide" id="tab_6">
            <div class="inner">
              <div class="content_guide">
                <h2>お支払方法</h2>
                <p>
                  <span>当ストアにてお使いいただける決済方法は、以下のとおりです。</span>
                  <span>＜クレジットカード＞</span>
                  <span>VISA、Mastercard、AmericanExpressをご利用いただけます。</span>
                  <span>・PayPal（ペイパル）</span>
                  <span>・Amazon Pay</span>
                </p>
                <p>
                  <span>＜代金引換＞</span>
                  <span>ご注文の商品と引き換えに配達ドライバーにお支払ください。</span>
                  <span>お支払いは現金のみの取扱になります。おつり銭がないようお願いいたします。</span>
                  <span>※代金引換手数料はご購入金額またはご購入内容によって変わります。詳しくは下記にてご確認ください。</span>
                  <span>※送料無料キャンペーン対象の場合も代金引換手数料は別途400円かかります。</span>
                  <span>※購入金額が30万円以上の場合は代金引換をご利用できません。</span>
                  <span>　あらかじめご了承くださいますよう、お願い申し上げます</span>
                  <span>※一部、代金引換をご利用いただけない地域がございます。</span>
                </p>
                <p>
                  <span>＜代金引換手数料＞※LP/7inchをご購入でない場合</span>
                  <span>購入金額3万円以下：手数料550円</span>
                  <span>購入金額10万円以下：手数料990円</span>
                  <span>購入金額20万円以下：手数料 1,320円</span>
                  <span>購入金額30万円以下：手数料 1,430円</span>
                </p>
                <p>
                  <span>＜代金引換手数料＞※LP/7inchをご購入の場合</span>
                  <span>購入金額1万円以下：手数料600円</span>
                  <span>購入金額3万円以下：手数料800円</span>
                  <span>購入金額10万円以下：手数料 1,200円</span>
                  <span>購入金額30万円以下：手数料 1,600円</span>
                </p>
                <p>
                  <span>＜銀行振り込み＞</span>
                  <span>以下の口座にお振込ください。</span>
                </p>
                <p>
                  <span>振込先口座番号：みずほ銀行 青山支店 普通預金 0000000</span>
                  <span>口座名義：ウルトラヴァイヴ（カ</span>
                  <span>※お振込手数料はお客様負担とさせていただいております。</span>
                  <span>※当ストアにてお客様のご入金が、申し込み完了後、3日以内（銀行営業日）に確認できない場合は、ご注文をキャンセルさせていただく場合がございます。</span>
                  <span>※お振込み名義人は、ご注文者様と同じ名義でお願い致します。※メモ：ここも確認必要</span>
                </p>
              </div>
            </div>
          </div>
          <div class="tab_item_guide" id="tab_7">
            <div class="inner">
              <div class="content_guide">
                <h2>商品の返品・交換について</h2>
                <p>
                  <span>商品の返品・交換は通常受け付けておりません。</span>
                  <span>万一商品が破損・汚損していた場合、またはご注文と異なった商品が届いた場合のみ、対応致します。</span>
                  <span>必ず、商品到着日から7日以内にお電話またはお問い合わせフォームから不良状態をご連絡ください。</span>
                  <span>弊社で不良と判断した場合は、不良商品とお客様のお名前・ご住所・お電話番号を記入した用紙を同封し、弊社までお送りください。</span>
                  <span>不良商品を受け取り次第、良品商品と交換させていただきます。</span>
                  <span>返品は、在庫切れのため良品商品との交換ができない場合のみ対応致します。</span>
                  <span>返品・交換にかかる費用は、すべて弊社が負担いたします。</span>
                  <span>※事前の連絡がなく不良品をお送り頂いた場合は、対応致し兼ねます。予めご了承下さい。</span>
                  <span>※お客様のご都合による返品、交換はお断り致します。</span>
                </p>
              </div>
            </div>
          </div>
          <div class="tab_item_guide" id="tab_8">
            <div class="inner">
              <div class="content_guide" id="canceling_order">
                <h2>ご注文のキャンセルについて</h2>
                <p>購入ページにおける[レジへ進む]を選択以降のご注文のキャンセルは、受け付けておりません。ご注文の際は十分にお気を付けください。</p>
              </div>
            </div>
          </div>
          <div class="tab_item_guide" id="tab_9">
            <div class="inner">
              <div class="content_guide">
                <h2>ご登録情報の変更について</h2>
                <p>
                  <span>当サイトではお客様にご登録いただいたユーザー名・メールアドレス・パスワードの変更はお客様ご自身では変更できません。</span>
                  <span>諸般の事情により変更をご希望される場合は、お手数ですが弊社までお問合せいただきますようお願い申し上げます。</span>
                </p>
              </div>
            </div>
          </div>
          <div class="tab_item_guide" id="tab_10">
            <div class="inner">
              <div class="content_guide">
                <h2>ラッピングについて</h2>
                <p>当ECサイトでは商品の発送上の安全を十分に考慮し、ラッピングは受け付けておりません。予めご了承ください。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section instruction_manual util_sp">
  <div class="upper">
    <div class="container_manual_sp">
      <ul>
        <li>
          <a href="#" class="accordion_item main_instruction"><span>ご案内</span></a>
          <div class="content_instruction" style="display: none;">
            <p>ULTRA SHIBUYA onlineにご来店いただき、誠にありがとうございます。</p>
            <p>東京渋谷にて34年間にわたり良質な音楽を生み出し続けている独立系レコード会社「ウルトラ・ヴァイヴ」が、一般のお客様へ向けたサービス「ULTRA SHIBUYA」を開始しました。</p>
            <p>このECサイトは、ULTRA SHIBUYAが運営する「ULTRA SHIBUYA online」です。「ULTRA SHIBUYA online」は、ウルトラ・ヴァイヴがお届けする音楽を一般のお客様にお楽しみいただく為の通信販売サイトです。</p>
            <p>ウルトラ・ヴァイヴは独立系レコード会社として、年間で2000タイトルを優に超えるリリースタイトルがあります。中には、近年世界的にも注目を集める自社レーベル「SOLID RECORDS」や、海外名門レーベルの復刻音源、国内外の最先端のインディーズミュージック等のリリースを手掛けてきました。「ULTRA SHIBUYA online」を通して、私たちが光を当て世に送り出してきたミュージックカルチャーを、より一層身近に感じていただければと思います。</p>
            <p>※「ULTRA SHIBUYA online」は、これまでウルトラ・ヴァイヴが全国各地のレコードショップに卸してきた経験を基に運営しています。
              その為、商品は「弊社専門の出荷基地」から出荷を行うので、発送完了までに少々お時間がかかります。最短で○営業日後の発送です。（土日と年末年始は休業/○時までのオーダーが当日受付となります。）また、在庫の状況によっては「お取り寄せ商品」となってしまい、さらに何日かお待たせしてしまうことがあります。ご了承ください。</p>
            <p>「レコード会社」としてのノウハウを活かし、常に最先端のミュージックカルチャーが集まる場所として、また、まるで「問屋業者の倉庫（普段は一般のお客さまは入ることのできない）」を開放したかのようなラインナップの豊富さを、是非ともお楽しみください。</p>
          </div>
        </li>
        <li>
          <a href="#" class="accordion_item main_instruction"><span>ご注文方法</span></a>
          <div class="content_instruction" style="display: none;">
            <p>
              <span class="tlt_terms">ご購入までの流れ</span>
              <span>0.　マイページにて、ログインまたは新規会員登録をしてください。（会員登録は無料です。）</span>
              <span>1. 　商品ページにて、商品を選んでください。</span>
              <span>2. 「カートに入れる」ボタンを押して、商品を「カート」に入れてください。</span>
              <span>3. 「カート」の中身を確認してください。</span>
              <span>4. 「レジへ進む」ボタンを押して、チェックアウト画面にて、必要事項をご確認ください。</span>
              <span>5. 「配送方法の選択へ進む」ボタンを押して、配送先情報をご確認ください。</span>
              <span>6. 「お支払いへ進む」ボタンを押して、お支払方法を選択し、情報をご確認ください。</span>
              <span>7. 「ご注文完了」ボタンを押してください。</span>
              <span>8.　受付番号が画面に表示され、ご注文受付メールが登録していただいたアドレスに送信されます。</span>
              <span>※この段階では、お客様からのご注文並びに出荷はまだ最終確定しておりません。</span>
              <span>ご注文の商品の確保が確定致しましたら、商品発送メールを送信させていただきます。</span>
              <span>※同一のご注文内に在庫商品とお取り寄せ商品（もしくはご予約商品）が混在している場合は「商品欠品に伴うご注文のお知らせ」のメールを送信させていただきます。</span>
              <span>必ず、弊社から送信させていただきますメールをご確認ください。</span>
              <span>※通常、在庫が確保できた商品から順に発送させていただきます。</span>
              <span>※商品を一括配送でご希望のお客様は、その旨を備考欄にご記入ください。</span>
            </p>
          </div>
        </li>
        <li>
          <a href="#" class="accordion_item main_instruction"><span>ご質問、お問い合わせ等</span></a>
          <div class="content_instruction" style="display: none;">
            <p>
              <span class="tlt_terms">ご質問、お問い合わせ等</span>
              <span>お問い合わせページにて、内容を記入後、「プライバシーポリシーに同意する」をチェックしていただき、</span>
              <span>「内容を確認」ボタンを押してお問い合わせ内容を確認後、「送信する」ボタンを押してください。</span>
              <span>お問い合わせ内容を確認し、担当よりご連絡させていただきます。</span>
              <span>※お問い合わせには、出来るかぎり早急にご返信させていただいておりますが、内容によりお時間を頂戴する場合がございますので、ご了承をお願いいたします。</span>
            </p>
          </div>
        </li>
        <li>
          <a href="#" class="accordion_item main_instruction"><span>商品のお届けについて</span></a>
          <div class="content_instruction" style="display: none;">
            <p>
              <span class="tlt_terms">発送について</span>
              <span>ご注文商品の発送が完了しましたら、メールにてお知らせいたします。</span>
            </p>
            <p>
              <span>ご注意：</span>
              <span>・ 土・日等 当ストアの休業日に頂いたご注文は、原則として翌営業日の発送となります。</span>
              <span>・決済方法に銀行振込を選ばれた場合は、ご入金確認後の発送となります。</span>
              <span>・配達日・配達時間指定は通常受付けておりません。</span>
            </p>
            <p>
              <span class="tlt_terms">ご注文について</span>
              <span>諸事情により納期が遅れたり、商品をご提供できない場合がございます。その場合、速やかにご連絡させていただきます。</span>
              <span>当ストアにてご注文を受付後、ご注文内容のご案内をメールにてご連絡差し上げます。</span>
            </p>
            <p>
              <span class="tlt_terms">お電話でのご連絡について</span>
              <span>ご注文内容の確認等により急を要する場合など、お電話にてご連絡させていただくことがございます。</span>
              <span>ご家族へのギフトなどで、電話による連絡を希望されない場合には、その旨を備考欄にご記入いただくか、ご連絡が可能なお電話番号をご記入ください。</span>
            </p>
          </div>
        </li>
        <li id="shipping_cost_01">
          <a href="#" id="tab_5_sp" class="accordion_item main_instruction"><span>送料について</span></a>
          <div class="content_instruction" style="display: none;">
            <p>
              <span>送料は全国一律200円（税込）です。</span>
              <span>ただし、LPをご購入の場合は料金が異なります。詳しくは送料料金表にてご確認ください。<br>※沖縄・離島への配送は別途ご負担頂きます。予めご了承下さいますよう、お願い申し上げます。</span>
            </p>
            <p><img src="{{'img_shipping.png' | asset_url}}" alt=""></p>
            <p>
              <span>現在、5,000円（税込）以上のお買い上げで、宅配送料200円（税込）が無料になるキャンペーンを実施中です。</span>
              <span>※代金引換でお支払いの場合は、代引手数料はキャンペーン対象外となります。</span>
            </p>
            <p>
              <span class="tlt_terms">発送方法について</span>
              <span>通常、在庫が確保できた商品から順に発送させていただきます。</span>
              <span>同一のご注文内に在庫商品とお取り寄せ商品（もしくはご予約商品）が混在している場合は<br>「商品欠品に伴うご注文のお知らせ」のメールを送信させていただきます。</span>
              <span>必ず、弊社から送信させていただきますメールをご確認ください。</span>
              <span>※商品を一括配送でご希望のお客様は、その旨を備考欄にご記入ください。</span>
              <span>※順次配送の場合、配送毎に送料・別途手数料がかかります。ただし、送料無料キャンペーン対象の場合は除きます。</span>
              <span>※長期不在等で再送させていただく場合は、送料等実費を請求させていただきます。 </span>
            </p>
            <p>送料についてのご質問は、お問い合わせフォームより、ご連絡ください。</p>
          </div>
        </li>
        <li>
          <a href="#" class="accordion_item main_instruction"><span>お支払方法</span></a>
          <div class="content_instruction" style="display: none;">
            <p>
              <span>当ストアにてお使いいただける決済方法は、以下のとおりです。</span>
              <span>＜クレジットカード＞</span>
              <span>VISA、Mastercard、AmericanExpressをご利用いただけます。</span>
              <span>・PayPal（ペイパル）</span>
              <span>・Amazon Pay</span>
            </p>
            <p>
              <span>＜代金引換＞</span>
              <span>ご注文の商品と引き換えに配達ドライバーにお支払ください。</span>
              <span>お支払いは現金のみの取扱になります。おつり銭がないようお願いいたします。</span>
              <span>※代金引換手数料はご購入金額またはご購入内容によって変わります。詳しくは下記にてご確認ください。</span>
              <span>※送料無料キャンペーン対象の場合も代金引換手数料は別途400円かかります。</span>
              <span>※購入金額が30万円以上の場合は代金引換をご利用できません。</span>
              <span>　あらかじめご了承くださいますよう、お願い申し上げます</span>
              <span>※一部、代金引換をご利用いただけない地域がございます。</span>
            </p>
            <p>
              <span>＜代金引換手数料＞※LP/7inchをご購入でない場合</span>
              <span>購入金額3万円以下：手数料550円</span>
              <span>購入金額10万円以下：手数料990円</span>
              <span>購入金額20万円以下：手数料 1,320円</span>
              <span>購入金額30万円以下：手数料 1,430円</span>
            </p>
            <p>
              <span>＜代金引換手数料＞※LP/7inchをご購入の場合</span>
              <span>購入金額1万円以下：手数料600円</span>
              <span>購入金額3万円以下：手数料800円</span>
              <span>購入金額10万円以下：手数料 1,200円</span>
              <span>購入金額30万円以下：手数料 1,600円</span>
            </p>
            <p>
              <span>＜銀行振り込み＞</span>
              <span>以下の口座にお振込ください。</span>
            </p>
            <p>
              <span>振込先口座番号：みずほ銀行 青山支店 普通預金 0000000</span>
              <span>口座名義：ウルトラヴァイヴ（カ</span>
              <span>※お振込手数料はお客様負担とさせていただいております。</span>
              <span>※当ストアにてお客様のご入金が、申し込み完了後、3日以内（銀行営業日）に確認できない場合は、ご注文をキャンセルさせていただく場合がございます。</span>
              <span>※お振込み名義人は、ご注文者様と同じ名義でお願い致します。※メモ：ここも確認必要</span>
            </p>
          </div>
        </li>
        <li>
          <a href="#" class="accordion_item main_instruction"><span>商品の返品・交換について</span></a>
          <div class="content_instruction" style="display: none;">
            <p>
              <span>商品の返品・交換は通常受け付けておりません。</span>
              <span>万一商品が破損・汚損していた場合、またはご注文と異なった商品が届いた場合のみ、対応致します。</span>
              <span>必ず、商品到着日から7日以内にお電話またはお問い合わせフォームから不良状態をご連絡ください。</span>
              <span>弊社で不良と判断した場合は、不良商品とお客様のお名前・ご住所・お電話番号を記入した用紙を同封し、弊社までお送りください。</span>
              <span>不良商品を受け取り次第、良品商品と交換させていただきます。</span>
              <span>返品は、在庫切れのため良品商品との交換ができない場合のみ対応致します。</span>
              <span>返品・交換にかかる費用は、すべて弊社が負担いたします。</span>
              <span>※事前の連絡がなく不良品をお送り頂いた場合は、対応致し兼ねます。予めご了承下さい。</span>
              <span>※お客様のご都合による返品、交換はお断り致します。</span>
            </p>
          </div>
        </li>
        <li id="canceling_order_01">
          <a href="#" id="tab_8_sp" class="accordion_item main_instruction"><span>ご注文のキャンセルについて</span></a>
          <div class="content_instruction" style="display: none;">
            <p>購入ページにおける[レジへ進む]を選択以降のご注文のキャンセルは、受け付けておりません。ご注文の際は十分にお気を付けください。</p>
          </div>
        </li>
        <li>
          <a href="#" class="accordion_item main_instruction"><span>ご登録情報の変更について</span></a>
          <div class="content_instruction" style="display: none;">
            <p>
              <span>当サイトではお客様にご登録いただいたユーザー名・メールアドレス・パスワードの変更はお客様ご自身では変更できません。</span>
              <span>諸般の事情により変更をご希望される場合は、お手数ですが弊社までお問合せいただきますようお願い申し上げます。</span>
            </p>
          </div>
        </li>
        <li>
          <a href="#" class="accordion_item main_instruction"><span>ラッピングについて</span></a>
          <div class="content_instruction" style="display: none;">
            <p>当ECサイトでは商品の発送上の安全を十分に考慮し、ラッピングは受け付けておりません。予めご了承ください。</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Repair",
    "settings": [
	],
	 "blocks":[
      {
        "type": "repairItem",
        "name": "About item",
        "settings": [
          {
            "type": "text",
            "id": "repairTitle",
            "label": "Title",
            "default": "安心と信頼のセイコーグループ"
          },
          {
            "type": "textarea",
            "id": "repairDes",
            "label": "Description",
            "default": "ウオッチタウンオンラインストアを運営しておりますセイコーリテールマーケティング株式会社は安心と信頼のセイコーグループです。"
          }
        ]
      }
	]
  }
{% endschema %}
<style>
    #main_content {
        background-color: #F4F4F4;
    }
    body {
        background-color: #F4F4F4;
    }
    @media (max-width: 768px) {
      #main_content,
      .main > .inner {
        background-color: #ffffff;
      }
    }
</style>
<script>
    $(document).ready(function(){
        var url = window.location.pathname + window.location.hash;
        if (url == '/pages/instruction-manual#shipping_cost') {
            $('html, body').animate({
                scrollTop: parseInt($(".container_manual_sp #shipping_cost_01").offset().top)
            }, 2000);
        }
        if (url == '/pages/instruction-manual#canceling_order_01') {
            $('html, body').animate({
                scrollTop: parseInt($(".container_manual_sp #canceling_order_01").offset().top)
            }, 2000);
        }
    });

    var width = $(window).width();
    if(width > 769) {
        $(document).ready(function(){
            if (this.hash !== "") {
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: 0
                }, 300);
            }
        });
    }
    else {

    }
</script>