<!-- /templates/page.contact.liquid -->
    <div class="upper">
        <div class="navi_top">
            <ul>
                <li><a href="/">TOP > </a></li>
                <li><a href="/pages/contact">お問い合わせ</a></li>
                <li><span class="current">お問い合わせ内容確認</span></li>
            </ul>
        </div>
    </div>
        <section class="section contact_success" style="display: block">
            <div class="upper form_success">
                <div class="notification_success">
                    <h2>送信完了しました</h2>
                    <p>お問い合わせいただき<span>ありがとうございました。</span></p>
                    <a href="/" class="btn01 sp_success">買い物を続ける</a>
                </div>
            </div>
        </section>
<style>
    .main>.inner {
        width: 100%;
    }
    #main_content,
    .main>.inner {
        background-color: #F4F4F4;
    }
    @media (max-width: 768px) {
        .main > .inner {
            background-color: #ffffff;
        }
        #main_content {
            background-color: #ffffff;
        }
    }
</style>