<!-- {{ 'setCookie.js' | asset_url | script_tag }} -->
{% include 'getDataShopify' %}

<div class="upper">
  <div class="navi_top">
    <ul>
      <li><a href="/">TOP</a></li>
      <li><span class="current">ウルトラ検索</span></li>
    </ul>
  </div>
</div>

<section class="section list_advanced_search">
  <div id="advanced_search_popup">
    <div class="upper">
      <form class="inner_advanced_search">
        <div class="banner_search">
          <div class="tlt_search_popup">
            <div class="item_thumbnail">
              <img src="{{'icon_urtra_serch_l.png' | asset_url}}" alt="" />
            </div>
            <h3>ウルトラ検索</h3>
            <span class="util_pc">｜条件を入力して検索ができます</span>
          </div>
        </div>
        <div class="container_search">
          <div class="inner_col__">
            <ul class="col__">
              <li>
                <div class="box_form_search">
                  <div class="ttl">アーティスト名</div>
                  <div>
                    <input type="text" name="artist_name" value="" placeholder="" class="normal_input">
                  </div>
                </div>
              </li>
              <li>
                <div class="box_form_search">
                  <div class="ttl">タイトル</div>
                  <div>
                    <input type="text" name="product_title" value="" placeholder="" class="normal_input">
                  </div>
                </div>
              </li>
              <li>
                <div class="box_form_search">
                  <div class="ttl">曲名</div>
                  <div>
                    <input type="text" name="song_name" value="" placeholder="" class="normal_input">
                  </div>
                </div>
              </li>
            </ul>
            <ul class="col__">
              <li>
                <div class="box_form_search">
                  <div class="ttl">レーベル名</div>
                  <div>
                    <input type="text" name="label_name" value="" placeholder="" class="normal_input">
                  </div>
                </div>
              </li>
              <li>
                <div class="box_form_search">
                  <div class="ttl">商品番号</div>
                  <div>
                    <input type="text" name="product_id" value="" placeholder="" class="normal_input">
                  </div>
                </div>
              </li>
              <li>
                <div class="box_form_search">
                  <div class="ttl">バーコード</div>
                  <div>
                    <input type="text" name="bar_code" value="" placeholder="" class="normal_input">
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="option check">
            <div class="price_option">
              <p class="ttl check">価格</p>
              <div class="narrowPrice searchList clearfix">
                <div id="searchPrice"
                  class="slide_size ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                  <div class="slider"></div>
                  <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
                  <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default last_first_price"
                    style="left: 0%;"></span>
                  <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default last_child_price"
                    style="left: 100%;"></span>
                </div>
                <div class="control clearfix">
                  <p>
                    <span>￥</span><input type="text" id="p_pris" maxlength="10" class="sliderMin" name="p_pris"
                      disabled="disabled" value="" />
                  </p>
                  <p>
                    <span>￥</span><input type="text" id="p_prie" maxlength="10" class="sliderMax" name="p_prie"
                      disabled="disabled" value="" />
                  </p>
                  <input id="p_pri_max_slider" type="hidden" name="p_pri_max_slider" value="" />
                </div>
              </div>
            </div>
            <div class="country_sale">
              <p class="ttl check">発売国</p>
              <div class="form_item">
                <div class="item_check">
                  <input name="country" type="checkbox" value="指定なし" id="unspeci" />
                  <label for="unspeci" class="checkbox normal">指定なし</label>
                </div>
                <div class="item_check">
                  <input name="country" type="checkbox" value="国内盤" id="domestic" />
                  <label for="domestic" class="checkbox normal">国内盤</label>
                </div>
                <div class="item_check">
                  <input name="country" type="checkbox" value="輸入盤" id="import" />
                  <label for="import" class="checkbox normal">輸入盤</label>
                </div>
              </div>
            </div>
            <div class="check_status">
              <p class="ttl check">状態</p>
              <div class="form_item">
                <div class="item_check">
                  <input name="status" type="checkbox" value="指定なし" id="unspeci_02" />
                  <label for="unspeci_02" class="checkbox normal">指定なし</label>
                </div>
                <div class="item_check">
                  <input name="status" type="checkbox" value="新品" id="new_product" />
                  <label for="new_product" class="checkbox normal">新品</label>
                </div>
                <div class="item_check">
                  <input name="status" type="checkbox" value="中古" id="sec_hand" />
                  <label for="sec_hand" class="checkbox normal">中古</label>
                </div>
              </div>
            </div>
            <div class="sales_status">
              <p class="ttl check">販売状況</p>
              <div class="form_item">
                <div class="item_check">
                  <input name="saleStatus" type="checkbox" value="指定なし" id="unspeci_03" />
                  <label for="unspeci_03" class="checkbox normal">指定なし</label>
                </div>
                <div class="item_check">
                  <input name="saleStatus" type="checkbox" value="予約受付中" id="under_reservation" />
                  <label for="under_reservation" class="checkbox normal">予約受付中</label>
                </div>
                <div class="item_check">
                  <input name="saleStatus" type="checkbox" value="販売中" id="sales" />
                  <label for="sales" class="checkbox normal">販売中</label>
                </div>
              </div>
            </div>
            <div class="display_order">
              <p class="ttl check"><a href="#">検索結果表示順</a></p>
              <div id="box_check_option_search" class="box_select__">
                <select id="sortResult" class="box_select_sort box_select__list_search" name="state">
                  <option></option>
                  <option value="new_to_old">新着順</option>
                  <option value="high_to_low">値段の安い順</option>
                  <option value="low_to_high">値段の高い順</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="btn_submit">
          <a class="container_reset" href="#item_search">
            <button type="button" class="btn_short01 btn_reset">
              条件をリセット
            </button>
          </a>
          <a class="container_submit" href="#item_search">
            <button class="btn_short01 btn_submit_form search_advanced">
              <span>この条件で検索</span>
            </button>
          </a>
        </div>
        <a class="container_submit_sp" href="#">
          <button class="btn_short01 btn_submit_form search_advanced">
            <span>条件を絞り直す</span>
          </button>
        </a>
      </form>
    </div>
  </div>
</section>
<section class="section inner_list_item" id="inner_list_item">
  <div class="upper">
    <div class="tlt_option_top">
      <div class="tlt_list">
        <span>件数：<span id="count_result"></span>件</span>
      </div>
    </div>
    <div class="product_list_item" id="list_product">

    </div>
  </div>
</section>
<div id="pagination-container" class="paginationjs-pages my_favorite_bottom"></div>
<script src="{{ 'pagination.js' | asset_url }}"></script>
<script src="https://unpkg.com/localforage@1.7.3/dist/localforage.min.js"></script>
<script>$('#searchPrice').draggable();</script>
<script>
    $('.container_submit_sp').click(function (e) {
        e.preventDefault();
        $("html, body").animate({ scrollTop: 0 }, 1000);
    });
    var x = $('#item_search').position();

    $(window).scroll(function (event) {
        var scroll = $(window).scrollTop();
        console.log('scroll', scroll);
        if (scroll > x.top){
            $('.container_submit_sp').show();
        }
        else {
            $('.container_submit_sp').hide();
        }
    });

    $('.btn_submit .container_reset').on('click', function(event) {
        event.preventDefault();
        $('html, body').animate({
            scrollTop: 0
        }, 2000);
    });
    $('.btn_submit .container_submit').on('click', function(event) {
        event.preventDefault();
        $('html, body').animate({
            scrollTop: parseInt($("#item_search").offset().top)
        }, 2000);
    });

  function sortPriceHigh(a, b) {
    if (a.price < b.price) {
      return -1;
    }
    if (a.price > b.price) {
      return 1;
    }
    return 0;
  }
  function sortPriceLow(a, b) {
    if (a.price > b.price) {
      return -1;
    }
    if (a.price < b.price) {
      return 1;
    }
    return 0;
  }

  function sortDateNew(a, b) {
    var date1 = a.release_date.substring(0, a.release_date.length - 15);
    var date2 = b.release_date.substring(0, b.release_date.length - 15);
    var dateA = new Date(date1), dateB = new Date(date2);
    return dateB - dateA;
  }
  localforage
    .getItem('products')
    .then(function (arrProduct) {
      // Xử lý khi việc lấy giá trị với key thành công
      // console.log("getProducts: ", arrProduct.products);
      $('#count_result').html(arrProduct.products.length);
      $('.search_advanced').click(function (e) {
        e.preventDefault();
        var arr = arrProduct.products;
        var arrFilter = [];
        //search input
        var txt_ArtistName = $('input[name="artist_name"]').val().toLowerCase();
        var txt_ProductTitle = $('input[name="product_title"]').val().toLowerCase();
        var txt_SongName = $('input[name="song_name"]').val().toLowerCase();
        var txt_LabelName = $('input[name="label_name"]').val().toLowerCase();
        var txt_ProductId = $('input[name="product_id"]').val().toLowerCase();
        var txt_BarCode = $('input[name="bar_code"]').val().toString();

        var minPrice = parseInt(localStorage.getItem('minPrice'));
        var maxPrice = parseInt(localStorage.getItem('maxPrice'));
        var strCountry = "";
        var strStatus = "";
        var strSaleStatus = "";
        var valueSort = $('#sortResult').val();
        //filter price
        if (isNaN(minPrice)) {
          minPrice = 0;
        }
        else {
          minPrice = minPrice * 100;
        }
        if (isNaN(maxPrice)) {
          maxPrice = 999999999;
        }
        else {
          maxPrice = maxPrice * 100;
        }
        $('input[name="country"]:checked').each(function () {
          strCountry = strCountry.concat(this.value + " ");
        });
        $('input[name="status"]:checked').each(function () {
          strStatus = strStatus.concat(this.value + " ");
        });
        $('input[name="saleStatus"]:checked').each(function () {
          strSaleStatus = strSaleStatus.concat(this.value + " ");
        });

        function searchArtistName(txt, ar) {
          if (txt != "") {
            arr = [];
            for (var i = 0; i < ar.length; i++) {
              if (ar[i].artist.toLowerCase().search(txt) != -1) {
                arr.push(ar[i]);
              }
            }
          }
        }
        function searchProductTitle(txt, ar) {
          if (txt != "") {
            arr = [];
            for (var i = 0; i < ar.length; i++) {
              if (ar[i].title.toLowerCase().search(txt) != -1) {
                arr.push(ar[i]);
              }
            }
          }
        }
        function searchSongName(txt, ar) {
          if (txt != "") {
            arr = [];
            for (var i = 0; i < ar.length; i++) {
              if (ar[i].tracklist != null && ar[i].tracklist.toLowerCase().search(txt) != -1) {
                arr.push(ar[i]);
              }
            }
          }
        }

        function searchLabelName(txt, ar) {
          if (txt != "") {
            arr = [];
            for (var i = 0; i < ar.length; i++) {
              if (ar[i].vendor.toLowerCase().search(txt) != -1) {
                arr.push(ar[i]);
              }
            }
          }
        }

        function searchProductId(txt, ar) {
          if (txt != "") {
            arr = [];
            for (var i = 0; i < ar.length; i++) {
              if (ar[i].catalog_no.toLowerCase().search(txt) != -1) {
                arr.push(ar[i]);
              }
            }
          }
        }

        function searchBarCode(txt, ar) {
          if (txt != "") {
            arr = [];
            for (var i = 0; i < ar.length; i++) {
              if (ar[i].variants[0].barcode.toString().search(txt) != -1) {
                arr.push(ar[i]);
              }
            }
          }
        }

        function filterPrice(ar) {
          arr = ar.filter(function (el) {
            return el.price >= minPrice && el.price <= maxPrice;
          });
        }

        var filterCountry = function (txt, ar) {
          return ar.filter(function (item) {
            if (txt.indexOf("指定なし") != -1) {
              return 1;
            } else {
              return txt.indexOf(item.country) !== -1;
            }
          })
        }

        var filterStatus = function (txt, ar) {
          return ar.filter(function (item) {
            if (txt.indexOf("指定なし") != -1) {
              return 1;
            } else {
              return txt.indexOf(item.condition) != -1;
            }
          })
        }

        var filterSaleStatus = function (txt, ar) {
          return ar.filter(function (item) {
            if (txt.indexOf("指定なし") != -1) {
              return 1;
            } else if (txt.indexOf("予約受付中") != -1) {
              if (item.preorder != null) {
                return 1;
              }
            } else if (txt.indexOf("販売中") != -1)
              return item.available == true;
          })
        }

        function sortResult() {
          if (valueSort == 'high_to_low') {
            arr = arr.sort(sortPriceHigh);
          } else if (valueSort == 'low_to_high') {
            arr = arr.sort(sortPriceLow);
          } else if (valueSort == 'new_to_old') {
            arr = arr.sort(sortDateNew);
          }
        }


        searchArtistName(txt_ArtistName, arr);
        searchProductTitle(txt_ProductTitle, arr);
        searchSongName(txt_SongName, arr);
        searchLabelName(txt_LabelName, arr);
        searchProductId(txt_ProductId, arr);
        searchBarCode(txt_BarCode, arr);
        filterPrice(arr);
        if (strCountry != "") {
          arr = filterCountry(strCountry, arr);
        }

        if (strStatus != "") {
          arr = filterStatus(strStatus, arr);
        }

        if (strSaleStatus != "") {
          arr = filterSaleStatus(strSaleStatus, arr);
        }

        sortResult();
        //pagination
        $('#count_result').html(arr.length);
        $('#pagination-container').pagination({
          dataSource: arr,
          pageSize: 20,
          autoHidePrevious: true,
          autoHideNext: true,
          prevText: '＜',
          nextText: '＞',
          showFirstOnEllipsisShow: true,
          showLastOnEllipsisShow: true,
          callback: function (data, pagination) {
            var html = simpleTemplating(data);
            $('#list_product').html(html);
          }
        });
      });
      $('#pagination-container').pagination({
        dataSource: arrProduct.products,
        pageSize: 20,
        autoHidePrevious: true,
        autoHideNext: true,
        prevText: '＜',
        nextText: '＞',
        showFirstOnEllipsisShow: true,
        showLastOnEllipsisShow: true,
        callback: function (data, pagination) {
          var html = simpleTemplating(data);
          $('#list_product').html(html);
            setTimeout(function () {
                $('.c-item .c-item__body').matchHeight();
            }, 1000);
        }
      });
      function simpleTemplating(data) {
        var html = '<ul class="holizontal_list col_05 list_item_products">';
        $.each(data, function (index, item) {
          var date = item.release_date.substring(0, item.release_date.length - 5);
          html += `<li>
              <a class="c-item" href="/products/`+ item.handle + `">
              <div class="item_thumbnail">
                <img src="`+ item.featured_image + `" alt="">
              </div>
              <div class="c-item__body">
                <div class="c_category"><span>`+ item.format + `</span></div>
                <h3 class="c-item__title">`+ item.title + `</h3>
                <div class="c-item__author">`+ item.artist + `</div>
                <div class="c-item__price">`+ Shopify.formatMoney(item.price, "{{ shop.money_with_currency_format }}") + `（税抜）</div>
                <div class="c-item__date">`+ date + ` 発売</div>
              </div>
            </a>
          </li>`;
        });
        html += '</ul>';
        return html;
      }
    })
    .catch(function (err) {
      // Xử lý khi việc lấy giá trị với key bị lỗi
      console.log(err);
    });
</script>
<style>
  .container_submit_sp {
    display: none;
  }
  #main_content {
    background-color: #EBEBEB;
  }

  form.inner_advanced_search {
    background-color: #EBEBEB;
  }

  section#inner_list_item>.upper {
    background-color: #ffffff;
    width: 100%;
    min-height: 1890px;
  }

  .display_order {
    z-index: 1 !important;
  }

  .main>.inner {
    width: 100%;
    background-color: #FFFFFF;
  }

  .sliderMin,
  .sliderMax {
    color: #000 !important;
  }

  .paginationjs-pages {
    padding-top: 20px;
  }

  @media only screen and (max-width: 1919px) and (min-width: 1248px) {
    section#inner_list_item>.upper {
      min-height: 98.48879625vw;
    }
  }

  @media only screen and (max-width: 1247px) and (min-width: 769px) {
    section#inner_list_item>.upper {
      min-height: 1250px;
    }
  }

  @media (max-width: 768px) {
    .container_submit_sp {
      position: absolute;
      border: none;
      padding: 0;
      z-index: 1;
      bottom: 0;
    }
    .paginationjs-pages>ul {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .paginationjs-pages>ul>li {
      margin-bottom: 1.302083333vw;
    }

    .product_list_item {
      padding: 2.47vw 2.47vw 9.765625vw;
    }

    form.inner_advanced_search {
      background-color: #ffffff;
    }

    section#inner_list_item>.upper {
      min-height: auto;
    }

    .main>.inner,
    #main_content {
      background-color: #ffffff;
    }
  }
</style>