<div class="upper">
    <div class="navi_top">
        <ul>
            <li><a href="/">TOP</a></li>
            <li><a href="#"><span class="current">ログイン画面</span></a></li>
            <li><span class="current">確認</span></li>
        </ul>
    </div>
</div>
<section class="section list_cart inner_cart_empty page_404 login_f">
<div class="upper">
    <div class="cart_empty">
        <h2 class="tlt_login_f">ログインに失敗しました。<span>メールアドレスとパスワードを<span>確認してください。</span></span></h2>
        <a class="btn_short01" href="/account/login">ログイン画面へ戻る</a>
    </div>
</div>
</section>
<style>
.main > .inner {
    width: 100%
}
#main_content {
    background-color: transparent;
}  @media (max-width: 768px) {

    .main > .inner {
      background-color: #ffffff;
    }
  }
</style>