<div class="upper">
    <div class="navi_top">
        <ul>
            <li><a href="/">TOP</a></li>
            <li><a href="/account/login"><span class="current">ログイン画面</span></a></li>
            <li><span class="current">確認</span></li>
        </ul>
    </div>
</div>
<section class="section list_cart inner_cart_empty page_404">
    <div class="upper">
        <div class="cart_empty">
            <h2>testtest@gmail.com <br>こちらのメールアドレスは既にご登録済みです。</h2>
            <a class="btn_short01" href="/account/login">ログインを試す</a>
        </div>
    </div>
</section>
<style>
    .main>.inner {
        width: 100%;
        background-color: #F4F4F4;

    }
    #main_content {
        background-color: #F4F4F4;
    }
    section#inner_list_item>.upper {
        background-color: #FFFFFF;
    }
    section.section.list_cart>.upper {
        min-height: auto;
    }
</style>